# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\工作\SanchuangSpider - 副本\naive-spider\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
